В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()

https://colab.research.google.com/drive/1xyuafvk-A_nBMCV-Oe0di8F2t1h79drg?hl=ru#scrollTo=EyRNAjKqri8J

In [89]:
import pandas as pd
import random
lst = ['robot', 'human', 'cat', 'dog', 'apple'] * 10  # можно писать сколько угодно наименований для увеличения количества столбцов
data = pd.DataFrame({'WhoAmI':lst})

unic = data[list(data)[0]].unique()
mlst = []
for i in data.index:
    temp = []
    for val in unic:
        temp.append(1 if data[list(data)[0]][i] == val else 0) 
    mlst.append(temp)    
    
data1 = pd.DataFrame(mlst, columns = unic)
data1.head(10)

   robot  human  cat  dog  apple
0      1      0    0    0      0
1      0      1    0    0      0
2      0      0    1    0      0
3      0      0    0    1      0
4      0      0    0    0      1
5      1      0    0    0      0
6      0      1    0    0      0
7      0      0    1    0      0
8      0      0    0    1      0
9      0      0    0    0      1

Для частных случаев:

In [88]:
import random
lst = ['robot', 'human', 'cat'] * 10  # для увеличения количества наименований столбцов добавлять (например): 'dog'
random.shuffle(lst)
data = pd.DataFrame({'WhoAmI':lst})
data.head(10)

# для каждого нового наименования столбца необходимо будет добовлять следующие 2 строки (например):
# data.loc[data['WhoAmI'] == 'dog', 'dog'] = '1'
# data.loc[data['WhoAmI'] != 'dog', 'dog'] = '0'
data.loc[data['WhoAmI'] == 'human', 'human'] = '1'
data.loc[data['WhoAmI'] != 'human', 'human'] = '0'
data.loc[data['WhoAmI'] == 'robot', 'robot'] = '1'
data.loc[data['WhoAmI'] != 'robot', 'robot'] = '0'
data.loc[data['WhoAmI'] == 'cat', 'cat'] = '1'
data.loc[data['WhoAmI'] != 'cat', 'cat'] = '0'

data.head(10)

  WhoAmI human robot cat
0    cat     0     0   1
1  human     1     0   0
2  robot     0     1   0
3    cat     0     0   1
4  robot     0     1   0
5  human     1     0   0
6  robot     0     1   0
7  human     1     0   0
8  human     1     0   0
9  human     1     0   0